<h2>Here are your posts:</h2>
<ol>
  <% @user.posts.each do |post| %>
    <li class="post-title"><%=post.title%> (ID:<%=post.id%>)</li>
      <ul>
        <li class="post-content"><%=post.content%></li>
      </ul>
      <a href="/posts/<%=post.id%>">Edit Post</a>
  <% end %>
</ol>
