<h1><u>Sign Up</u></h1>
<br>
<form action="/users/signup" method="POST">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="submit">
</form>
