<h1>Post</h1>
<br>
<h3><%=@post.title%></h3>
<p><%=@post.content%></p>

<form action="/posts/<%=@post.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="text" id="content" name="content">
  <input type="submit" value="Edit Post">
</form>
