<h1><u>All Posts</u></h1>
<br>
<ol class="post">
  <% @posts.each do |post| %>
    <li><%=post.title%> (ID:<%=post.id%>)(<%=post.user.email%>):</li>
    <ul class="post">
      <li><%=post.content%></li>
    </ul>
  <%end%>
</ol>
