<h1><u>All Posts</u></h1>
<br>
<ol>
  <% @posts.each do |post| %>
    <li class="post-title"><%=post.title%> (ID:<%=post.id%>)(<%=post.user.email%>):</li>
    <ul>
      <li class="post-content"><%=post.content%></li>
    </ul>
    <br>
  <%end%>
</ol>
