<h1><u>New Post</u></h1>
<br>
<form action="/posts" method="POST">
  <p><strong>Title: </strong><input type= "text" size="45" id= "title" name= "title"></p>
  <u><strong>Content</strong></u>
  <br>
  <br>
  <p><textarea rows= "5" cols= "50" name= "content">Type in your post...</textarea></p>
  <input type= "submit" value= "Submit">
</form>
