<h1><u>Post</u></h1>
<br>
<h3><%=@post.title%></h3>
<p><%=@post.content%></p>

<form action="/posts/<%=@post.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <p><textarea rows= "5" cols= "50" name= "content">Edit your post...</textarea></p>
  <input type="submit" value="Edit Post">
</form>
<br>
<form action="/posts/<%=@post.id%>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete Post">
</form>
