<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Poster</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      ol li {
        list-style-type: none;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
      }

      ol ul {
        background-color: #fff;
      }

      .post-title {
        display: inline-block;
        width: 50%;
        float: left;
        margin: 1px;
        padding: 1px;
        background-color: white;
      }

      .post-content {
        display: inline-block;
        width: 90%;
        Float: right;
        margin: 1px;
        padding: 1px;
        background-color: white;
      }

      .welcome {

      }

      input[type=submit]{
        border: none;
      	padding: 8px 15px 8px 15px;
      	background: #FF8500;
      	color: #fff;
        font-weight: bold;
      	box-shadow: 1px 1px 4px #DADADA;
      	-moz-box-shadow: 1px 1px 4px #DADADA;
      	-webkit-box-shadow: 1px 1px 4px #DADADA;
      	border-radius: 3px;
      	-webkit-border-radius: 3px;
      	-moz-border-radius: 3px;
      }

      input[type=submit]:hover {
      	background: #EA7B00;
      	color: #fff;
      }

      #delete {
        background: #FF0000;
        color: #fff;
      }

      #delete:hover {
        background: #8B0000;
        color: #fff;
      }

      ul li {
        float: left;
      }

      ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      ul li a:hover {
        background-color: #111;
      }
    </style>

  </head>
  <body>

    <% if logged_in? %>
    <ul>
      <li><a href="/posts/new">Create Post</a></li>
      <li><a href="/users/my_posts"> View My Posts </a></li>
      <li><a href="/posts/index"> View Feed </a></li>
      <li><a href="/logout"> Log Out </a></li>
    </ul>
    <br>
    <% else %>
    <ul>
      <li><a href="/users/signup">Sign Up</a></li>
      <li><a href="/users/login"> Login </a></li>
    </ul>
    <%end %>

    <div class="wrapper">
        <% if logged_in? %>
        <p class="welcome">Welcome, <%=current_user.email %></p>
        <% end %>
        <br>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>Poster</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
